
@model Player

@{
    ViewData["Title"] = "Edit";
}


<form method="post" asp-action="Edit">
       <div class="form-group">
          <input type="number" asp-for="Id" hidden >
       </div>


        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label asp-for="Country"></label>
            <input type="text" asp-for="Country" class="form-control" placeholder="Enter Country">
        </div>

        <div class="form-group">
            <label asp-for="Age"></label>
            <input type="number" asp-for="Age" class="form-control" placeholder="Enter Age">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>

